.scene {
    width: 100%;
    height: 100%;
    position: absolute;

}

.canvas {
    width: 100%;
    height: 100%
}

@media screen and (min-width: 1440px) {
    .htmlContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .infoBlock {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        color: #fff;
        width: 560px;
        text-wrap: normal;
    }

    .dataBlock {
        border: 6px solid #181818;
        border-radius: 50px;
        width: 560px;
        height: 272px;
        background: rgba(184, 184, 184, 0.26);
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        padding: 29px;
        line-height: 30px;
        list-style-type: none;
    }

    .other {
        display: flex;
        flex-direction: column;
        gap: 66px;
        width: 556px
    }

    .dragTool {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: row;
        gap: 24px;
        text-wrap: wrap;
        line-height: 28px
    }
}